body {
  display: flex;
  justify-content: center;
  background-color: rgba(236, 146, 248, 0.145);
}
.content {
  width: 1080px;
  background: linear-gradient(
    to top right,
    rgba(172, 20, 172, 0.76),
    rgb(236, 179, 233),
    rgba(179, 71, 179, 0.76)
  );
  border: solid 1px rgb(150, 127, 127);
  box-shadow: inset 1px 1px 1px #555, 2px 2px 10px #aaa;
}

img {
  border-radius: 50%;
  height: 200px;
  border: 1px solid purple;
  box-shadow: -1px -1px 15px #000, 6px 6px 20px rgb(71, 70, 70);
  margin-left: 26em;
  transform: translateY(50px);
}

h1 {
  font-family: "Indie Flower", cursive;
  text-align: center;
  font-size: 3em;
  margin: 50px 0 0 0;
  color: rgb(232, 226, 219);
  text-decoration: underline dashed rgba(179, 71, 179, 0.76);
}
.content div {
  padding: 0.3em;
  background-color: rgba(146, 242, 249, 0.337);
  margin: 15px;
  border-radius: 20px;
}
.content div:hover {
  background-color: rgb(146, 242, 249);
}

a {
  text-decoration: none;
}
h2 {
  color: rgb(70, 60, 60);
  font-family: "Barlow Semi Condensed", sans-serif;
  text-align: center;
}
p {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
}

/*Animations*/
.yt {
  animation: yt 1s infinite alternate;
}
.yt:hover {
  transition: background 1s linear;
}

@keyframes yt {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
    transform: scale(1.1);
  }
  100% {
    transform: rotate(2deg);
    transform: scale(1.1);
  }
  50% {
    transform: rotate(-3deg);
  }
  0% {
    transform: rotate(0deg);
  }
}

.apuntes {
  animation: colorApuntes 2s infinite alternate;
}

@keyframes colorApuntes {
  0% {
    background-color: rgba(146, 242, 249, 0.337);
  }
  100% {
    background-color: rgb(146, 242, 249);
  }
}
